<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="../public/css/tailwind-output.css" rel="stylesheet" />
  </head>
  <body class="container mx-auto p-3">
    <div class="p-4"><%- include('../components/navbar'); %></div>
    <div class="flex flex-col md:flex-row">
      <div class="mx-auto px-4 w-full md:w-[40%]">
        <div class="flex flex-row justify-between">
          <div class="flex flex-row w-full justify-between gap-2">
            <div class="w-full">
              <select
                id="countries"
                class="bg-gray-50 border border-[#47C3A4] text-gray-900 text-sm rounded-lg focus:ring-[#47C3A4] focus:border-[#47C3A4] block w-full p-2.5"
              >
                <option selected>Choose a country</option>
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
              </select>
            </div>
            <div class="w-full">
              <select
                id="countries"
                class="bg-gray-50 border border-[#47C3A4] text-gray-900 text-sm rounded-lg focus:ring-[#47C3A4] focus:border-[#47C3A4] block w-full p-2.5"
              >
                <option selected>Choose a country</option>
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
              </select>
            </div>
          </div>
          <div></div>
        </div>
        <ul class="mt-12 divide-y">
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
        </ul>
      </div>
      <div class="w-full md:w-[60%] h-[400px] md:h-[90vh]">
        <div class="relative w-full h-full">
          <div id="map" class="absolute top-0 left-0 w-full h-full"></div>
        </div>
      </div>
    </div>

    <script>
      // Fonction d'initialisation de la carte
      var map;
      var markers = [];
      var lines = [];

      // Nouvelle fonction pour récupérer les pharmacies depuis l'API
      async function fetchPharmacies() {
        try {
          const response = await fetch("http://MedJerrah:8080/api/health/pharmacies");
          if (!response.ok) {
            throw new Error('Network response was not ok ' + response.statusText);
          }
          const pharmacies = await response.json();
          console.log("Pharmacies fetched from API:", pharmacies); // Log pour vérifier la réponse de l'API
          return pharmacies;
        } catch (error) {
          console.error("There was a problem with the fetch operation:", error);
        }
      }

      async function initMap() {
        // Coordonnées pour centrer la carte
        var location = { lat: 18.089568255185064, lng: -15.984527865438487 };

        // Création de la carte centrée sur la localisation
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: location
        });

        // Récupérer et afficher les pharmacies depuis l'API
        const pharmacies = await fetchPharmacies();
        if (pharmacies) {
          displayPharmacies(pharmacies);
        }
      }

      function displayPharmacies(pharmacies) {
        console.log("Displaying pharmacies:", pharmacies); // Log pour vérifier les données passées à la fonction displayPharmacies

        // Supprimer les anciens marqueurs et lignes
        markers.forEach(marker => marker.setMap(null));
        markers = [];
        lines.forEach(line => line.setMap(null));
        lines = [];

        // Afficher les marqueurs pour chaque pharmacie
        pharmacies.forEach(function(pharmacy) {
          var infowindowContent = `
            <div>
              <strong>${pharmacy.name}</strong><br>
              <a href="https://www.google.com/maps/dir/?api=1&destination=${pharmacy.longitude},${pharmacy.latitude}" target="_blank">View in Maps</a>
            </div>
          `;

          var infowindow = new google.maps.InfoWindow({
            content: infowindowContent
          });

          var marker = new google.maps.Marker({
            position: { lat: pharmacy.longitude, lng: pharmacy.latitude },
            map: map,
            title: pharmacy.name
          });

          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

          markers.push(marker);
        });
      }

      function filterPharmacies() {
        var wilaya = document.getElementById('wilaya').value;
        fetchPharmacies().then(pharmacies => {
          var filteredPharmacies = pharmacies.filter(function(pharmacy) {
            return pharmacy.wilaya === wilaya;
          });
          displayPharmacies(filteredPharmacies);
        });
      }

      var wilayaColors = {
        'Nouakchott Sud': '#FF0000',    // Rouge
        'Nouakchott Ouest': '#00FF00',  // Vert
        'Nouakchott Nord': '#0000FF'    // Bleu
      };
    </script>
    <!-- Charger l'API de Google Maps en utilisant votre clé API -->
    <script async defer
           src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7iU-ErVpTKuucu5uUi59Nqp0w7WNO4eA&libraries=places&callback=initMap">
    </script>
  </body>
</html>
