<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharmacy Locator</title>
    <link href="../public/css/tailwind-output.css" rel="stylesheet" />
    <style>
      /* Ajoutez ici vos styles personnalisés si nécessaire */
    </style>
  </head>
  <body class="container mx-auto p-3">
    <!-- Navbar -->
    <div class="p-4"><%- include('../components/navbar.ejs'); %></div>

    <!-- Contenu principal -->
    <div class="flex flex-col md:flex-row">
      <!-- Sélecteurs et liste de pharmacies -->
      <div class="mx-auto px-4 w-full md:w-[40%]">
        <div class="flex flex-row justify-between">
          <div class="flex flex-row w-full justify-between gap-2">
            <!-- Sélecteur de willaya -->
            <div class="w-full">
              <select
                id="willayaSelect"
                class="bg-gray-50 border border-[#47C3A4] text-gray-900 text-sm rounded-lg focus:ring-[#47C3A4] focus:border-[#47C3A4] block w-full p-2.5"
              >
                <option value="" disabled selected>Select Willaya</option>
                <option value="HODH_CHARGUI">Hodh Chargui</option>
                <option value="HODH_EL_GHARBI">Hodh El Gharbi</option>
                <option value="ASSABA">Assaba</option>
                <option value="GORGOL">Gorgol</option>
                <option value="BRAKNA">Brakna</option>
                <option value="TRARZA">Trarza</option>
                <option value="ADRAR">Adrar</option>
                <option value="DAKHLET_NOUADHIBOU">Dakhlet Nouadhibou</option>
                <option value="TAGANT">Tagant</option>
                <option value="GUIDIMAGHA">Guidimagha</option>
                <option value="TIRIS_ZEMMOUR">Tiris Zemmour</option>
                <option value="INCHIRI">Inchiri</option>
                <option value="NOUAKCHOTT_OUEST">Nouakchott Ouest</option>
                <option value="NOUAKCHOTT_NORD">Nouakchott Nord</option>
                <option value="NOUAKCHOTT_SUD">Nouakchott Sud</option>
              </select>
            </div>
            <!-- Sélecteur de moughataa -->
            <div class="w-full">
              <select
                id="moughataaSelect"
                class="bg-gray-50 border border-[#47C3A4] text-gray-900 text-sm rounded-lg focus:ring-[#47C3A4] focus:border-[#47C3A4] block w-full p-2.5"
              >
                <option value="" disabled selected>Select Moughataa</option>
                <option value="NEMA">Nema</option>
                <option value="AMOURJ">Amourj</option>
                <option value="BASSIKNOU">Bassiknou</option>
                <option value="DJIGUENNI">Djiguenni</option>
                <option value="TIMBEDRA">Timbedra</option>
                <option value="OUALATA">Oualata</option>
                <option value="NBEIKET_LAHWACH">Nbeiket Lahwach</option>
                <option value="ADELBEGROU">Adelbegrou</option>
                <option value="AIOUN">Aïoun</option>
                <option value="TAMCHEKET">Tamcheket</option>
                <option value="KOUBENNI">Koubenni</option>
                <option value="TINTANE">Tintane</option>
                <option value="TOUIL">Touil</option>
                <option value="KIFFA">Kiffa</option>
                <option value="KANKOUSSA">Kankoussa</option>
                <option value="BOUMDEID">Boumdeid</option>
                <option value="GUEROU">Guerou</option>
                <option value="BARKEOL">Barkéol</option>
                <option value="KAEDI">Kaédi</option>
                <option value="MONGUEL">Monguel</option>
                <option value="MAGHAMA">Maghama</option>
                <option value="MBOUT">M'Bout</option>
                <option value="LEXEIBA1">Lexeiba1</option>
                <option value="ALEG">Aleg</option>
                <option value="BABABE">Bababé</option>
                <option value="MBAGNE">M'Bagne</option>
                <option value="MAGTALAHJAR">Magtalahjar</option>
                <option value="BOGHE">Boghé</option>
                <option value="MALE">Male</option>
                <option value="ROSSO">Rosso</option>
                <option value="OUAD_NAGA">Ouad Naga</option>
                <option value="KEUR_MACENE">Keur Macène</option>
                <option value="RKIZ">R'Kiz</option>
                <option value="BOUTILIMIT">Boutilimit</option>
                <option value="MEDERDRA">Mederdra</option>
                <option value="TEKANE">Tekane</option>
                <option value="ATAR">Atar</option>
                <option value="AUOJEFT">Aoujeft</option>
                <option value="OUADANE">Ouadane</option>
                <option value="CHINGUITTI">Chinguitti</option>
                <option value="NOUADHIBOU">Nouadhibou</option>
                <option value="CHAMI">Chami</option>
                <option value="TIDJIKJA">Tidjikja</option>
                <option value="MOUDJERIA">Moudjeria</option>
                <option value="TICHIT">Tichit</option>
                <option value="SELIBABY">Sélibaby</option>
                <option value="OULD_YENGE">Ould Yengé</option>
                <option value="GHABOU">Ghabou</option>
                <option value="WOMPOU">Wompou</option>
                <option value="ZOUERATT">Zoueratt</option>
                <option value="FDEIRICK">F'Deirick</option>
                <option value="BIR_MOGHREIN">Bir Moghrein</option>
                <option value="AKJOUJT">Akjoujt</option>
                <option value="BENNECHAB">Bennechab</option>
                <option value="TEVRAGH_ZEINA">Tevragh Zeina</option>
                <option value="SEBKHA">Sebkha</option>
                <option value="KSAR">Ksar</option>
                <option value="DAR_NAIM">Dar Naïm</option>
                <option value="TOUJOUNINE">Toujounine</option>
                <option value="TEYARET">Teyaret</option>
                <option value="ARAFAT">Arafat</option>
                <option value="EL_MINA">El Mina</option>
                <option value="RIYAD">Riyad</option>
              </select>
            </div>
          </div>
          <!-- Espace pour d'autres éléments si nécessaire -->
          <div></div>
        </div>
        <!-- Liste des pharmacies -->
        <ul class="mt-12 divide-y" id="pharmacyList"></ul>
        <!-- Pagination -->
        <div class="flex flex-col items-center mt-4">
          <span class="text-sm text-gray-700" id="pageCounter"></span>
          <div class="inline-flex mt-2 xs:mt-0 justify-between gap-2">
            <button
              id="prevBtn"
              class="flex items-center justify-center border border-[#47C3A4] px-3 h-8 text-sm font-medium text-gray-700 rounded-s hover:bg-[#47C3A4]"
            >
              <svg
                class="w-3.5 h-3.5 me-2 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 5H1m0 0 4 4M1 5l4-4"
                />
              </svg>
              Prev
            </button>
            <button
              id="nextBtn"
              class="flex items-center justify-center border border-[#47C3A4] px-3 h-8 text-sm font-medium text-gray-700 rounded-s hover:bg-[#47C3A4]"
            >
              Next
              <svg
                class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Carte Google Maps -->
      <div class="w-full md:w-[60%] h-[400px] md:h-[90vh]">
        <div class="relative w-full h-full">
          <div id="map" class="absolute top-0 left-0 w-full h-full"></div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="../public/js/pharmacy.js"></script>

    <!-- Chargement de l'API Google Maps avec la clé et appel à la fonction initMap -->
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7iU-ErVpTKuucu5uUi59Nqp0w7WNO4eA&libraries=places&callback=initMap"
    ></script>
  </body>
</html>
