<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="../public/css/tailwind-output.css" rel="stylesheet" />
  </head>
  <body class="container mx-auto p-3">
    <div class="p-4"><%- include('../components/navbar'); %></div>
    <div class="flex flex-col md:flex-row">
      <div class="mx-auto px-4 w-full md:w-[40%]">
        <div class="flex flex-row justify-between">
          <div class="flex flex-row w-full justify-between gap-2">
            <div class="w-full">
              <select
                id="countries"
                class="bg-gray-50 border border-[#47C3A4] text-gray-900 text-sm rounded-lg focus:ring-[#47C3A4] focus:border-[#47C3A4] block w-full p-2.5"
              >
                <option selected>Choose a country</option>
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
              </select>
            </div>
            <div class="w-full">
              <select
                id="countries"
                class="bg-gray-50 border border-[#47C3A4] text-gray-900 text-sm rounded-lg focus:ring-[#47C3A4] focus:border-[#47C3A4] block w-full p-2.5"
              >
                <option selected>Choose a country</option>
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
              </select>
            </div>
          </div>
          <div></div>
        </div>
        <ul class="mt-12 divide-y">
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
          <li key="{idx}" class="py-5 flex items-start justify-between">
            <div class="flex gap-3">
              <img
                src="../public/assets/Logos/paris.jpeg"
                class="flex-none w-16 h-16"
              />
              <div>
                <span class="block text-sm text-gray-700 font-semibold"
                  >Pharmaice Paris</span
                >
                <span class="block text-sm text-gray-700 py-3"
                  >Nouakchott - Tevragh Zeina</span
                >
                <span class="block text-sm text-gray-600"></span>
              </div>
            </div>
            <a
              href="javascript:void(0)"
              class="ext-gray-700 text-sm border border-[#47C3A4] rounded-lg px-3 py-2 duration-150 bg-white hover:bg-[#47C3A4] flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.447-.894L15 4"
                />
              </svg>
              voir map
            </a>
          </li>
        </ul>
      </div>
      <div class="w-full md:w-[60%] h-[400px] md:h-[90vh]">
        <div class="relative w-full h-full">
          <iframe
            class="absolute top-0 left-0 w-full h-full"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12080.73732861526!2d-74.0059418!3d40.7127847!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zM40zMDA2JzEwLjAiTiA3NMKwMjUnMzcuNyJX!5e0!3m2!1sen!2sus!4v1648482801994!5m2!1sen!2sus"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          >
          </iframe>
        </div>
      </div>
    </div>
  </body>
</html>
